<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    
                    </li>
                <% }) %>
            </ul>
                <div class="center" >
                    <h2>Total: <%= totalSum%></h2>
                </div>
                <div class="centered" >
                    <button class="btn" id="order-btn" >order now</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51GzolsIvi28exlk1vbIYkTd26ygc8DDRhp5mqrKfWEKprJG95tHoLfy7m0C65r4MAQyrd1uJF8Cza5pAzKuBZcaf00O3xwKiI6');
                        var orderBtn = document.getElementById('order-btn');
                        orderBtn.addEventListener('click',()=>{
                            stripe.redirectToCheckout({
                                sessionId:'<%= sessionId %>'
                            });
                        });

                    </script>
                </div>
        </main>
        <%- include('../includes/end.ejs') %>
